.bookmark {
  --background-default: #fff;
  --background-hover: #FAFBFF;
  --text-color: #404660;
  --icon-color-default: #8A91B4;
  --icon-color-active: #F04949;
  --default-position: 32px;
  --default-y: 0px;
  --icon-background-height: 19px;
  --shadow: rgba(0, 19, 132, 0.08);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  padding: 2px 18px 2px 5px;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.bookmark.dark {
  --background-default: #1E2235;
  --background-hover: #171827;
  --text-color: #F9FAFF;
  --icon-color-default: #8A91B4;
  --icon-color-active: #F04949;
  --shadow: rgba(0, 19, 132, 0.16);
}

.bookmark:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 var(--shadow-y, 2px) var(--shadow-blur, 3px) var(--shadow);
          box-shadow: 0 var(--shadow-y, 2px) var(--shadow-blur, 3px) var(--shadow);
  background: var(--background, var(--background-default));
  -webkit-transform: scale(var(--scale-x, 1), var(--scale-y, 1)) translateZ(0);
          transform: scale(var(--scale-x, 1), var(--scale-y, 1)) translateZ(0);
  -webkit-transition: background 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: background 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: box-shadow 0.2s, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), background 0.2s;
  transition: box-shadow 0.2s, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), background 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bookmark:active {
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --scale-x: .975;
  --scale-y: .94;
}

.bookmark:hover {
  --background: var(--background-hover);
}

.bookmark.marked {
  --icon-color: var(--icon-color-active);
}

.bookmark .icon {
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.62);
          transform: scale(0.62);
}

.bookmark .icon:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 9px;
  width: 18px;
  height: 19px;
  border-radius: 1px;
  -webkit-clip-path: inset(0 -1px var(--icon-background-height) -1px round 1px);
          clip-path: inset(0 -1px var(--icon-background-height) -1px round 1px);
  background: var(--icon-color, var(--icon-color-default));
  -webkit-transition: background var(--duration, 0.5s) ease 0.01s;
  transition: background var(--duration, 0.5s) ease 0.01s;
}

.bookmark .icon svg {
  display: block;
  width: 36px;
  height: 36px;
  stroke: var(--icon-color, var(--icon-color-default));
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  position: relative;
  z-index: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-clip-path: inset(5px 0 0 0);
          clip-path: inset(5px 0 0 0);
}

.bookmark .icon svg path {
  fill: var(--fill, var(--background, var(--background-default)));
  -webkit-transition: fill var(--duration, 0.5s) ease 0.01s, stroke var(--duration, 0.5s) ease 0.01s;
  transition: fill var(--duration, 0.5s) ease 0.01s, stroke var(--duration, 0.5s) ease 0.01s;
}

.bookmark .icon svg path.default {
  --fill: var(--default-fill, var(--background, var(--background-default)));
  -webkit-clip-path: circle(var(--default-position) at 50% 100%);
          clip-path: circle(var(--default-position) at 50% 100%);
}

.bookmark .icon svg path.filled {
  --fill: var(--icon-color, var(--icon-color-default));
}

.bookmark .icon svg path.default, .bookmark .icon svg path.filled {
  -webkit-transform: translateY(var(--default-y));
          transform: translateY(var(--default-y));
}

.bookmark span {
  position: relative;
  z-index: 1;
  display: block;
  margin-left: -2px;
}

.bookmark.dark {
  --background-default: #1E2235;
  --background-hover: #171827;
  --text-color: #F9FAFF;
  --icon-color-default: #8A91B4;
  --icon-color-active: #F04949;
  --shadow: rgba(0, 19, 132, 0.16);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Inter', Arial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ECEFFC;
}

body .bookmark {
  margin: 0 16px;
}

body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

body .dribbble img {
  display: block;
  height: 28px;
}

body .twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}

body .twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}
/*# sourceMappingURL=bookmark-btn.css.map */