body{
    font-family: 'Open Sans', sans-serif;
    background: #7f5a83;
    background-image: linear-gradient(315deg, white 0%, #0d324d 74%);
    height: 100vh;
}
.container{
    margin: 150px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1200px;
}
.tieu_de{
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: #99aeff;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgb(0, 0, 0, 0.4);
    overflow: hidden;
    color: white;
}
.tieu_de img{
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}
.tieu_de .noi_dung {
    position: absolute;
    padding: 30px;
    height: calc(100% -60px);
}
.tieu_de h2{
    font-weight: bold;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tieu_de h3 {
    margin: 20px 0 0 0;
    transform: translateX(50px);
}
.tieu_de p {
    margin: 20px 0 0 0;
    line-height: 25px;
    transform: translateX(-50px);
    transition-delay: 0.2s;
}
.chuyen_dong_text{
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.tieu_de:hover{
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform: scale(1.2);
    z-index: 10;
}
.tieu_de:hover img{
    filter: blur(40px);
}
.tieu_de:hover .chuyen_dong_text{
    transform:  translateX(0);
    opacity: 1;
}
.icon ul{
    list-style-type: none;
    }
.icon ul li{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid white;
    float: left;
    transition: all 0.5s ease;
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.5s ease;
    transform: translateY(100px) ;
}
.icon ul li a{
    color: white;
}
.tieu_de:hover .icon ul li{
    opacity: 1;
    transform: translateY(0px);
}